@font-face {
  font-family: "lato-light";
  src: url("../css/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "lato-bold";
  src: url("../css/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato-light-italic";
  src: url("../css/fonts/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "caveat-regular";
  src: url("../css/fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat-Bold.ttf");
}
